@font-face { 
    font-family: "Montserrat";
    src: local("Montserrat"),
        url(../fonts/Montserrat-Bold.woff2) format("woff2"),
        url(../fonts/Montserrat-Bold.woff) format("woff"),
        url(../fonts/Montserrat-Bold.eot) format("eot"), 
        url(../fonts/Montserrat-Bold.otf) format("otf"),
        url(../fonts/Montserrat-Bold.svg) format("svg"),
        url(../fonts/Montserrat-Bold.ttf) format("ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face { 
    font-family: "Montserrat";
    src: local("Montserrat"),
        url(../fonts/Montserrat-Medium.woff2) format("woff2"),
        url(../fonts/Montserrat-Medium.woff) format("woff"),
        url(../fonts/Montserrat-Medium.eot) format("eot"), 
        url(../fonts/Montserrat-Medium.otf) format("otf"),
        url(../fonts/Montserrat-Medium.svg) format("svg"),
        url(../fonts/Montserrat-Medium.ttf) format("ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face { 
    font-family: "Montserrat";
    src: local("Montserrat"),
        url(../fonts/Montserrat-Regular.eot) format("woff2"),
        url(../fonts/Montserrat-Regular.woff) format("woff"),
        url(../fonts/Montserrat-Regular.eot) format("eot"), 
        url(../fonts/Montserrat-Regular.otf) format("otf"),
        url(../fonts/Montserrat-Regular.svg) format("svg"),
        url(../fonts/Montserrat-Regular.ttf) format("ttf");
    font-weight: 400;
    font-style: normal;
}


@font-face { 
    font-family: "Montserrat";
    src: local("Montserrat"),
        url(../fonts/Montserrat-SemiBold.eot) format("woff2"),
        url(../fonts/Montserrat-SemiBold.woff) format("woff"),
        url(../fonts/Montserrat-SemiBold.eot) format("eot"), 
        url(../fonts/Montserrat-SemiBold.otf) format("otf"),
        url(../fonts/Montserrat-SemiBold.svg) format("svg"),
        url(../fonts/Montserrat-SemiBold.ttf) format("ttf");
    font-weight: 600;
    font-style: normal;
}