@import "mixins";
html,
body {
  height: 100%;
}
a {
  cursor: pointer;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

// .title{
//     @extend %AlGrey-Bold;
//     font-size: 36px;
//     line-height: 49px;
//     padding: 0px 35px;
//     border-bottom: 2px solid $blue;
//     text-align: center;
//     margin: 0 auto;
//     margin-bottom: 56px;
//     max-width: fit-content;
// }

body {
  background-color: $gray;
  font-family: "Montserrat";
  color: #fff;
}
html {
  scroll-behavior: smooth;
}
body.stop-scroll {
  overflow: hidden;
  padding-right: 8px;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: $containerWidth_gte_1920;
}

.icon-size {
  width: 30px;
  height: 30px;
}
.descr {
  @include textStyle($fontSize: 18px);
}
.section__title {
  @include textStyle($fontSize: 48px, $fontWeight: 500);
  text-align: center;
  margin-bottom: 35px;
}
.section__text {
  @include textStyle($fontSize: 18px, $textTransform: none);
}
.section:not(:first-child) {
  padding-top: $sectionGap;
}
.section {
  padding-bottom: $sectionGap;
  overflow: hidden;
}
.footer {
  padding: $sectionGap 0;
}
.gray-btn {
  border-radius: 5px;
  padding: 14px 22px;
  box-shadow: -5px -5px 10px #0039aa, 5px 5px 10px #018635;
  background-color: $gray;
  display: flex;
  align-items: center;
  max-width: max-content;
  svg {
    margin-right: 20px;
  }
}
.white-btn {
  @include textStyle(
    $color: $gray,
    $fontSize: 16px,
    $fontWeight: 500,
    $textTransform: none
  );
  display: block;
  background-color: $white;
  padding: 15px 33px;
  border-radius: 5px;
  border: 1px solid #0039aa;
  text-align: center;
  display: flex;
  align-items: center;
  max-width: max-content;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(170deg, rgb(0, 57, 170) 0%, rgb(1, 134, 53) 100%);
  border-radius: 5px;
  border: 1px solid rgb(54, 54, 54);
}

::-webkit-scrollbar-track {
  background-color: rgb(54, 54, 54);
  position: relative;
  border-radius: 5px;
}

// UI-KIT

.link-ui {
  transition: text-shadow 0.2s ease-in-out;
  &:hover:not(:focus-visible) {
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
  }
  &:focus-visible {
    outline: none;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
  }
  &:active:not(:focus-visible) {
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
  }
}

.white-btn,
.header__phone {
  transition-property: box-shadow, background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  &:hover:not(:focus-visible) {
    box-shadow: -5px -5px 10px $blue, 5px 5px 10px $green;
    background-color: rgb(47, 47, 47);
    color: #ffffff;
  }
  &:focus-visible {
  }
  &:active:not(:focus-visible) {
  }
}

.gray-btn {
  transition: box-shadow 0.2s ease-in-out;
  &:hover:not(:focus-visible) {
    box-shadow: -10px -10px 10px $blue, 10px 10px 10px $green;
  }
  &:focus-visible {
  }
  &:active:not(:focus-visible) {
  }
}

.input-ui {
  &:hover:not(:focus-visible) {
  }
  &:focus-visible {
    outline: none;
    outline: 2px solid $white;
    outline-offset: 2px;
  }
  &:active:not(:focus-visible) {
  }
}
