@import 'vars'; 

@mixin textStyle($color: $white, $fontFamily: "Montserrat", 
$fontSize: 14px, $fontStyle: normal, $fontWeight: 400, $lineHeight: normal, $textTransform: uppercase){
    color: $color;
    font-family: $fontFamily;
    font-size: $fontSize;
    font-style: $fontStyle;
    font-weight: $fontWeight;
    line-height: $lineHeight;
    text-transform: $textTransform;
}