// %AnPro-Regular {
//   font-family: 'AnonymousPro-Regular', sans-serif;
//   font-weight: normal;
//   display: swap;
// }

// %AnPro-Bold {
//   font-family: 'AnonymousPro-Bold', sans-serif;
//   font-weight: 700
// }

// %AlGrey-Bold {
//   font-family: 'AlegreyaSC-Bold', sans-serif;
//   font-weight: 700;
// }

// %AlGrey-Regular {
//   font-family: 'AlegreyaSC-Regular', sans-serif;
//   font-weight: normal;
// }

// $blue: #ABD0D3;
// $text: #F2F1ED;
// $background: #3B3B3B;
// $line: #BCB3A9;
// $containerGap: 193px;

$containerWidth_gte_1920: 1521px;
$containerWidth_1280: 1041px;
$containerWidth_1024: 816px;
$containerWidth_768: 610px;
$containerWidth_480: 380px;
$containerWidth_lte_320: 252px;

$subContainersWidth: 1140px;

$sectionGap: 50px;
$sectionGap_768: 29px;

$white: #fff;
$gray: #363636;
$blue: #0039aa;
$green: #018635;
$cardGradient: linear-gradient(#ffffff00, #ffffff82, #ffffff00);

@mixin textStyle(
  $color: $white,
  $fontFamily: "Montserrat",
  $fontSize: 14px,
  $fontStyle: normal,
  $fontWeight: 400,
  $lineHeight: normal,
  $textTransform: uppercase
) {
  color: $color;
  font-family: $fontFamily;
  font-size: $fontSize;
  font-style: $fontStyle;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  text-transform: $textTransform;
}

%btn_template {
  border-radius: 5px;
  display: flex;
  align-items: center;
  max-width: max-content;
}
